* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* pozadina i font celog bodija */

body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url("imgs/jugi.jpg");
    background-color: #cccccc;
    line-height: 1;
}

button {
    background-color: grey;
    width: 100%;
    color: black;
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}

form {
    border: 3px solidc #f1f1f1;
}

input[type=text],
input[type=password] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid green;
    box-sizing: border-box;
}

button:hover {
    opacity: 0.7;
}

.canclebtn {
    width: auto;
    padding: 10px 18px;
    margin: 10px 5px;
}


/* 
.container {
    padding: 25px;
    background-color: lightblue;
}
 */

.div-head {
    background-color: black;
    height: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.topnav {
    overflow: hidden;
    height: 73px;
}

.topnav a {
    height: 50px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}


/* register i login */

.container {
    margin-left: 30%;
    width: 40%;
}

.form {
    display: flex;
    flex-direction: column;
}

.field {
    gap: 10px;
    /* justify-content: center; */
}


/* naslov center */

h1 {
    color: white;
}


/* ispisivanje imena i prezimena korisnika */

#status {
    color: white;
}